body {
    border: 2px solid red;
    margin: 10;
    padding: 10;
    
}

h1 {
    font-family: helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    position: relative;
    padding: 15px 0;
    width : 100%;
    margin: 0;
    text-align: center;
}

#titre-fond {
    background-image: url("./image/pattern.jpg");
    opacity: 0.5;
}
h2 {
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    }

#brushes {
    background-color: blue;
}

#frames {
    background-color: white;
    color: black;
}

#paint {
    background-color: red;
}
#message {
    color: black;
}
#price {
    font-family: helvetica;
    font-weight: bold;
    color: bleu;
}

figcaption {
    color: grey;
    font-weight: 20px;
    font-family: helvetica;
}

strong {
    color: blue
}


